 body 
          {
            background-color: black;
        }
        h2{
            color: orange;
        }
        .parrafoAzul{
            color: blue
        }
        #parrafoVerde {
            color: rgb(0,300,50)
        }
    header {
        color: white;
    }
article 
{
    color: white;
}